/* Landing Page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color:rgb(68, 53, 53) !important;
    font-family: 'badgrunge' !important;
    scroll-behavior: smooth;
    background-size: cover;
    background-image: url(Resources/loadingscreen01.png);
}
@font-face {
  font-family: badgrunge;
  src: url('badgrunge.ttf'); 
  src: local("badgrunge"), url('badgrunge.ttf');
  }

/* .navve {
  width: 110%;
} */
.row {
  margin: 0 !important;
}
.imagePush{
  margin-top: 20vh;
}

.columnItem {
  padding: 15px;
  margin-top: 15px;
}

.navbar{
  box-shadow: 0 0 8px 8px rgb(0, 0, 0) inset;
    max-width: 100%;   
    font-size: 4vh !important;
    background-image: url(pic/bannerCar.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover !important;
    background-color: black !important;
}
.dunesBrand {
  font-size: 10vh !important;
}

.logoBack {
  background-image: url(dodLogo.png)!important ;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vh;

  animation: pulse 3s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.headFootShadow {
  box-shadow: 0 0 8px 8px rgb(0, 0, 0) inset;
}
.boxShad {
  box-shadow: 3vh 1vh 17vh black !important;
}

.roadBG{
    text-align: center;
    width: 100%;
}

.combats {
  background-image: url(Resources/Combat.gif);
  background-size: cover;
  height: 40vh;
}

.about{
  height: auto !important;
  background-image: url(Resources/mockup.jpg); 
  background-size: cover; 
}
.aboutText{
  overflow: hidden;
}

.twitters {
  height: 95vh !important;
  overflow:hidden;
 
  max-height:600px; 
  background-color: navajowhite !;
  overflow: scroll;
}
.bg-dunes{
    background-color: #524b48 ;
    
}
.bg-dunes1{
  background-color: #d37d43 !important;
  
}
.bg-dunes2{
  background-color: #8d8d8c !important;
  
}
/* DevArt */

.down {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}  
  
.pulse {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    margin: 0;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    box-shadow: 0 0 1px 2px #89849b;
    animation-delay: 2s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.9, 0.9);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    transform: scale(1.3, 1.3);
    opacity: 0;
  }
}
/* About */

/* Team */
#myTeam1{
    margin-top: 20vh;
}

/* General Styling */
.duneColor {
  color: rgb(216, 216, 216) !important;
  
}

.rndc {
  border-radius: 2em;
}
/* Twitter */

/* News */

/* Fotter */
.car-background {
  background-image: url(Resources/loadingscreen01.png);
}

.footer {
  background-image: url(Resources/loadingscreen01.png); 
  /* width: 100% !important; */
  background-position: bottom;
  background-size: cover;
  padding-top: 2vh;
  padding-right: 3vh;
}

.footer-text-style {
  font-size: 3em;
  color: #d37d43;

}
.footer-text-style-2 {
  font-size:2em;
  color: #d37d43;

} 
/* .fot{
  
} */
